@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:rgb(10, 9, 9);">Welcome Students !!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698192000&semt=sph.jpg" alt="Background" style="width:50;height:60;">
    </img>
    <body style="background-color:rgb(178, 215, 68);">
    </body>


</div>
@Html.ActionLink("Student Marks","List","Student");